{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/Theme/productStyle.css')}}">
{% endblock %}

{% block title %}Kids Events {{product.name}}{% endblock %}

{% block body %}
    <h1>C'est {{product.name}}</h1> 
    
    
    
{% endblock %}
